aiofiles==23.2.1
amqp==5.2.0
anyio==4.2.0
appnope==0.1.3
argcomplete==3.2.2
arrow==1.3.0
asgiref==3.7.2
asttokens==2.2.1
attrs==23.2.0
backcall==0.2.0
beautifulsoup4==4.12.3
billiard==4.2.0
binaryornot==0.4.4
boto3==1.28.0
botocore==1.31.0
Brotli==1.1.0
cachetools==5.3.2
celery==5.3.6
certifi==2023.5.7
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.1.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
contourpy==1.2.0
cookiecutter==2.5.0
cycler==0.12.1
Cython==3.0.8
dacite==1.7.0
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.8
distlib==0.3.8
Django==5.0.1
dnspython==2.5.0
environ==1.0
executing==1.2.0
fiftyone==0.23.4
fiftyone-brain==0.16.0
fiftyone_db==1.1.1
filelock==3.13.1
fonttools==4.48.1
fsspec==2024.2.0
ftfy==6.1.3
future==0.18.3
fuzzywuzzy==0.18.0
glob2==0.7
graphql-core==3.2.3
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.2
httpx==0.26.0
humanize==4.9.0
Hypercorn==0.16.0
hyperframe==6.0.1
identify==2.5.33
idna==3.4
imageio==2.33.1
inflate64==1.0.0
ipython==8.14.0
jedi==0.18.2
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
jsonlines==4.0.0
kaleido==0.2.1
kiwisolver==1.4.5
kombu==5.3.5
lapx==0.5.5
lazy_loader==0.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mongoengine==0.24.2
motor==3.3.2
mpmath==1.3.0
multivolumefile==0.2.3
networkx==3.2.1
nodeenv==1.8.0
numpy==1.24.3
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
packaging==23.2
pandas==2.0.2
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.2.0
platformdirs==4.2.0
plotly==5.18.0
polars==0.18.6
pprintpp==0.4.0
pre-commit==3.6.0
priority==2.0.0
prompt-toolkit==3.0.38
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py4j==0.10.9.7
py7zr==0.20.8
pyarrow==12.0.1
pybcj==1.0.2
pycryptodomex==3.20.0
Pygments==2.15.1
pymongo==4.6.1
pyparsing==3.1.1
pyppmd==1.1.0
pyspark==3.4.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-slugify==8.0.3
pytz==2023.3
PyYAML==6.0.1
pyzstd==0.15.9
rarfile==4.1
regex==2023.12.25
requests==2.31.0
retrying==1.3.4
rich==13.7.0
s3transfer==0.6.1
scikit-image==0.22.0
scikit-learn==1.4.0
scipy==1.12.0
seaborn==0.13.2
shapely==2.0.1
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.4.4
sse-starlette==0.10.3
sseclient-py==1.8.0
stack-data==0.6.2
starlette==0.37.0
strawberry-graphql==0.138.1
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
text-unidecode==1.3
texttable==1.7.0
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tifffile==2024.1.30
torch==2.2.0
torchvision==0.17.0
tqdm==4.66.1
traitlets==5.9.0
types-python-dateutil==2.8.19.20240106
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==5.2
ultralytics==8.1.10
universal-analytics-python3==1.1.1
urllib3==1.26.16
vine==5.1.0
virtualenv==20.25.0
voxel51-eta==0.12.4
wcwidth==0.2.13
wrapt==1.16.0
wsproto==1.2.0
xmltodict==0.13.0
